@import '../colors';

$top-height: 65px;
$logo-banner-fontSize: 40px;


.wh-100 {
  width: 100%;
  height: 100%;
}

.app {
  @extend .wh-100;
  display: grid;
  grid-template-rows: $top-height 1fr;

  .top {
    @extend .wh-100;
    padding: 1rem;
  }

  .content {
    @extend .wh-100;
    display: grid;
    align-items: center;
    justify-items: center;

    .logo-banner {
      color: map-get($main-colors, primary);
      font-size: $logo-banner-fontSize;
    }
  }
}