@import '../colors';
@import '../core';

$max-width: 220px;

.sign {
  display: grid;
  max-width: $max-width;

  .header {
    @extend .margin-bottom;

    color: map-get($main-colors, primary);
    text-align: center;
  }

  .input {
    @extend .margin-bottom;
  }
}