@import './components/index';

@mixin theme($values) {
  @include components($values);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: map-get($values, font-family);
  }

  html, body, #root {
    width: 100%;
    height: 100%;
  }
};
